{% extends 'Customer_App/template/base.html' %}
    {% block links %}    
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Arizonia&family=Bad+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% endblock links %}
    {% block title %}<title>Foodie Password Reset</title>{% endblock title %}
    <!-- <link rel="shortcut icon" href="/static/Admin_CSS/images/preview.png" /> -->
    {% block css %}
    <style>
      /* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  background: linear-gradient(180deg, rgba(245,104,11,1) 0%, rgba(244,158,10,1) 35%, rgba(255,244,0,1) 100%);
}
.customer_change_password_body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.customer_change_password_container{
  position: relative;
  max-width: 75%;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
  height:60vh;
}
.customer_change_password_container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.customer_change_password_container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
 .customer_change_password_container .cover .front,
 .customer_change_password_container .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.customer_change_password_container .cover::before,
.customer_change_password_container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #e2c051;
  opacity: 0.5;
  z-index: 12;
}
.customer_change_password_container .cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.customer_change_password_container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.customer_change_password_container .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.customer_change_password_container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.customer_change_password_container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  padding-bottom: 10px;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 130px;
  background: #f37107;
}
.forms .signup-form  .title:before{
  width: 130px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
  padding:0%;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #f37107;
}
.form-content .input-box i{
  position: absolute;
  color: #f37107;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: normal;
  color: #919191;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #f57002;
  border-radius: 10px;
  display: block;
  border: none;
}
.forms .form-content .button input:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border: none;
}
.forms .form-content label{
  color: #f37107;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: none;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.container #flip{
  display: none;
}
@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .container #flip:checked ~ .forms .login-form{
    display: none;
  }
}
.btn-grad {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white!important;            
  box-shadow: 0 0 20px #f57002;
  text-decoration: none!important;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

</style>
{% endblock css %}
{% block content %}
   <div class="customer_change_password_body">     
  <div class="customer_change_password_container">
    <input type="checkbox" id="flip" style="display:none;">
    <div class="cover">
      <div class="front">
        <img src="/static/Customer_CSS/assets/img/gallery/customer_change_password_img.jpg" alt="cover">
        <div class="text">
          <span class="text-1">Welcome to our<br> Foodie Customer</span>
          <span class="text-2">Forget Password Page</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="/static/Customer_CSS/assets/img/gallery/customer_change_password_img.jpg" alt="cover">
        <div class="text">
          <span class="text-1">Welcome to our<br> Foodie Customer</span>
          <span class="text-2">Forget Password Page</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Confirm Password</div>
            <h2 style="font-weight: normal; color:rgb(182, 182, 182); font-size: 18px; font-family: 'Bad Script'; margin-top: 10px">... Welcome to Customer Password Forget Page ...</h2>
          <form action="#">
            <div class="input-boxes">
              <div class="button input-box">
                <input type="submit" value="Cancel">
              </div>
              <div class="text sign-up-text"> <label for="flip" class="btn-grad">Change Password <i class="fa-solid fa-arrow-right" style="color: white; padding-left: 10px"></i> </label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Change Password</div>
          <h6 class="py-1" style="color:#F17228 !important;">{{msg}}</h6>
        <form method="post">
          {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="text" name="current_password" placeholder="Current password" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="text" name="new_password" placeholder="New password" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="confirm_new_password" placeholder="Confirm password" required>
              </div>
              <button class="btn-grad" type="submit" style="border:none;width: -webkit-fill-available;">Password Change</button>
              {% comment %} <div class="btn btn-gradee">
              </div> {% endcomment %}
              <div class="text sign-up-text"><label for="flip" class="btn-grad"><i class="fa-solid fa-arrow-left" style="color: white; padding-right: 10px"></i> Back</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
    </div>
  {% endblock %} 
