{% extends 'Restaurant_App/template/base.html' %}
{% block content %}
<!-- Form Start -->
<body>
  <section style="background-image: url(/static/Restaurant_CSS/img/peakpx\ \(6\).jpg); background-position: cover;">
  <main style="min-height: 100vh;background-color: #ff9d0048!important;">
<div class="container-fluid pt-4 px-4">
  <div class="row g-4" style="padding-top: 2%; padding-bottom: 4%;">
    <div class="col-lg-2"></div>
      <div class="col-lg-8">
          <div class="bg-secondary h-100 p-4" style="box-shadow: 0 0.5rem 1.2rem rgba(160, 131, 131, 0.822);  border-radius: 15px 30px;">
            <h1 class="mb-4"  style="text-align: center; color:#ff6a00bb; font-size: 30px; font-family:cursive; background: linear-gradient(50deg, #fb3c00, #ffb800); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Branch Form</h1>
            <h2 style=" color:rgb(116, 116, 116); font-size: 18px; font-family: 'Bad Script'; margin-bottom: 5%; text-align:center;"> .... You Can Register Restaurant Here ....</h2>
              <form method="post">
                {% csrf_token %}
                <input type="text" name="rest_fk_id" hidden value={{rest_id}} class="form-control">
                  <div class="form-floating mb-3">
                      <input type="text" name="branch_country" class="form-control" id="floatingInput" placeholder=" Country Name" style="border: none;">
                      <label class="form-label" for="floatingInput">Country Name</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="text" name="branch_city" class="form-control" id="floatingInput" placeholder=" City Name" style="border: none;">
                      <label class="form-label" for="floatingInput">City Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <textarea class="form-control" name="branch_locality" placeholder="Area Name" id="floatingInput" style="height: 100px; border: none;"></textarea>
                    <label class="form-label" for="floatingInput">Area Name</label>
                  </div>

                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-grad">Branch Create</button>
                  </div>
              </form>
          </div>
      </div>
    <div class="col-lg-2"></div>
    </div>
</div>
{% endblock %}
</main>
</section>
</body>