{% extends 'Restaurant_App/template/base.html' %}
{% block content %}
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex p-2">
                <h6 class="mb-4 col-lg-8">Branch List</h6>
                <a href="{% url 'branch_form' %}" class="btn btn-warning btn-icon-text">Create<i class="ti-file btn-icon-append"></i></a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Branch Id</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>Area</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for branch in list  %}
                        <tr>
                            <td>{{branch.branch_id}}</td>
                            <td>{{branch.branch_country}}</td>
                            <td>{{branch.branch_city}}</td>
                            <td>{{branch.branch_locality}}</td>
                            <td>
                                <a href="../update/{{branch.branch_id}}" id="{{branch.branch_id}}" class="btn btn-dark btn-icon-text">Edit<i class="ti-file btn-icon-append"></i></a>
                                <a href="../delete/{{branch.branch_id}}" id="{{branch.branch_id}}" class="btn btn-danger btn-icon-text">Delete<i class="ti-trash btn-icon-append"></i></a>
                            </td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}