
<div class="offcanvas offcanvas-end" tabindex="-1" id="cart_sidebar" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Cart</h5>
    <button class="btn btn-primary clear_cart" type="button" style="margin-left:39%;">Clear Cart</button>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="padding:0;">
    <div class="container" id="#cart_items">
      {% comment %} {% for item in items_in_cart %}
      <div class="row" style="border-bottom: 1px solid lightgrey;">
        <div class="col-3" style="padding: 0;">
            <img src="/static/Customer_CSS/assets/img/gallery/search-pizza.png" style="width:100px">
          <p></p>
        </div>
        <div class="col-4" style="padding:0;line-height: 5;padding-left: 9px;font-weight: 600;font-size: large;">
            <p>Cheese Burger</p>
          <p></p>
        </div>
        <div class="col-5 d-flex" style="justify-content:flex-end;align-items:flex-end;flex-direction: column;">
          <p style="margin-top: revert-layer;margin-bottom: unset;">Rs. 490</p>
          <!--<div class="counter">
            <button class="button is-ghost" ><i class="counter-icons fa-solid fa-minus"></i></button>
            <p class="valpr" id="" style="padding:5px;font-weight:600;margin-top:0;line-height:3.5;">1</p>
            <button class="button is-ghost " ><i class="counter-icons fa-solid fa-plus"></i></button>
          </div>-->
        <p></p>
      </div>
      {% endfor %} {% endcomment %}
      </div>
    </div>
  </div>
  
</div>