{% extends 'Restaurant_App/template/base.html' %}
{% block content %}
           <!-- Sale & Revenue Start -->
           <div class="container-fluid pt-4 px-4">
            <div class="row g-4" style="margin-top: 1%;">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary  d-flex align-items-center justify-content-between p-4" style="background: #fd6900!important;  border-radius: 15px 30px; box-shadow: 0 0.5rem 1.2rem #fd69008e;">
                        <i class="fa fa-chart-line fa-3x text-primary" style="color: #ffffff!important;"></i>
                        <div class="ms-3">
                            <p class="mb-2" style="color: #ffffff!important;">Today Sale</p>
                            <h6 class="mb-0">Rs {{todays_orders_count}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary d-flex align-items-center justify-content-between p-4" style="background: #fb7755!important; border-radius: 15px 30px; box-shadow: 0 0.5rem 1.2rem #fb7655a6;">
                        <i class="fa fa-chart-bar fa-3x text-primary" style="color: #ffffff!important;"></i>
                        <div class="ms-3">
                            <p class="mb-2" style="color: #ffffff!important;">Total Sale</p>
                            <h6 class="mb-0">Rs {{no_of_orders}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary d-flex align-items-center justify-content-between p-4" style="background: #fe9352!important;  border-radius: 15px 30px; box-shadow: 0 0.5rem 1.2rem #fe94529c;">
                        <i class="fa fa-chart-area fa-3x text-primary" style="color: #ffffff!important;"></i>
                        <div class="ms-3">
                            <p class="mb-2" style="color: #ffffff!important;">Today Revenue</p>
                            <h6 class="mb-0">Rs {{total_revenue}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary  d-flex align-items-center justify-content-between p-4"  style="background: #ff7177!important;  border-radius: 15px 30px; box-shadow: 0 0.5rem 1.2rem #ff71789c;">
                        <i class="fa fa-chart-pie fa-3x text-primary" style="color: #ffffff!important;"></i>
                        <div class="ms-3">
                            <p class="mb-2" style="color: #ffffff!important;">Total Revenue</p>
                            <h6 class="mb-0">Rs {{todays_total_price}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->
        
            <!-- Sales Chart Start -->
            
            <!-- Sales Chart End -->

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4" style="margin-top: 5%;">
                <div class="bg-secondary text-center p-3" style="border-radius: 15px 30px; box-shadow: 0.4rem 0.4rem 3.4rem #181c249c; padding-top: 20%; padding-bottom:20%;">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h4 class="mb-0" style="background: linear-gradient(50deg, #fb3c00, #ffb800); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight:bold; font-family: 'Bad Script'; padding:1%;">... Recent Salse Of Our Restaurant ...</h4>
                        <a href="{% url 'orders_list' %}"style="color: #fd6900!important; font-weight:bold;">Show All</a>
                    </div>
                    <div class="table-responsive" style="padding-bottom:10%; margin:1%">
                        <table class="table text-start align-middle table-hover mb-0 table table-striped table-borderless">
                            <thead>
                                <tr class="text" style="padding: 3%; font-family: 'Bad Script'; font-weight:bold; font-size: 22px; color:rgb(85, 85, 85)">
                                    <th scope="col" style="padding: 1%;">Date</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action Buttons</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in list  %}
  <div id="cart_item_detail_url" style="display: none;">{% url 'cart_items_list' %}</div>
                                <tr>
                                    <td style="padding: 1%;">{{order.order_date}}</td>
                                    <td>{{order.user_fk.username}}</td>
                                    <td>{{order.order_total_price}}</td>
                                    <td>{{order.order_status}}</td>
                                    <td><button data-bs-toggle="modal" data-bs-target="#cart_modal" data-order-id="{{order.order_id}}" class="cart_detail_btn btn btn-md" href="" style="color: #fd6900!important; border: none; border-radius: 30px;">View Detail</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->

    <!-- ============================================-->
    <!-- <section> begin(Cart Items Modal) ============================-->
        <!-- Modal -->
        <div class="modal fade" id="cart_modal" tabindex="-1" aria-labelledby="cart_modal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content modal-container">
                  <div class="modal-header">
                  <h1 class="modal-title fs-5 modal-container-title" id="exampleModalLabel" style="color:black">Cart Items Detail</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-container-body">
                    <div class=".item-info rtf" id="cart_items_info">
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- ============================================-->
        <!-- <section> ENDD(Cart Items Modal) ============================-->
            

            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4" style="margin-top: 5%; padding-bottom: 5%;">
                <div class="row g-4">
                    
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <div class="h-100 bg-secondary p-4"style=" border-radius: 15px 30px; box-shadow: 0.4rem 0.4rem 3.4rem #181c249c; padding-top: 20%; padding-bottom:20%;">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0" style="background: linear-gradient(50deg, #fb3c00, #ffb800); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight:bold; font-family: 'Bad Script'; padding:1%;">... Calender ...</h6>
                                <a href=""style="color: #fd6900!important; font-weight:bold;">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Widgets End -->

            
            {% endblock %} 

            {% block js %}
<script>
    $('#cart_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var objectId = button.data('order-id'); // Extract object ID from data attribute
        var cart_items_list_Url = document.getElementById("cart_item_detail_url").textContent;
        $.ajax({
            url: cart_items_list_Url,
            type: 'GET',
            data: { object_id: objectId },
            success: function(response) {
                try {
                    cartItems=response.cart_items
                    var cartContainer = document.getElementById("cart_items_info");
                    cartContainer.innerHTML= "";                
                    console.log("cart Item list is",cartItems)
                    if (cartItems.length>0){
                    for(var i=0; i<cartItems.length; i++){
                        item= cartItems[i]
                        cartContainer.insertAdjacentHTML("beforeend",`
                        <div>Name: ${item.food_item_name}</div>
                        <div>Quantity: ${item.cart_item_qty}</div>
                        <div>Price: Rs.${item.cart_item_price}</div>
                        <div>Instructions: ${item.cart_item_instructions}</div>
                        <hr>
                    `)}
                    }
                    else{
                        cartContainer.insertAdjacentHTML("beforeend",`
                        <h6 style="color:grey">No Cart Item is Present</h6>
                        <hr>`)
                    }
                    }                    
                 catch (error) {
                  console.error('Error updating modal content:', error);
                }
            },
            error: function(xhr, status, error) {
                console.error("ajax error is:",xhr.responseText);
            }
        });
    });

</script>
{% endblock js %}